
<form [formGroup]="createCheckoutPageForm">
  <div class="container">
    <div class="py-5 text-center">
      <h2>CHECKOUT FORM</h2>
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-8 pb-2" style="max-height: 70vh; overflow-y: scroll; overflow-x: hidden;">
        <div *ngFor="let item of cartItems">
            <div class="row">
                <div class="border" style="padding: 10px">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="https://images.ctfassets.net/5gvckmvm9289/3BlDoZxSSjqAvv1jBJP7TH/65f9a95484117730ace42abf64e89572/Noissue-x-Creatsy-Tote-Bag-Mockup-Bundle-_4_-2.png"
                                width="150px" />
                        </div>
                        <div class="col-md-10">
                          <div class="product_name_container">
                            <h5><a href="#" target="_blank">{{ item?.product?.name }}</a></h5>
                          </div>
                            <p>{{item.product.description}}</p>
                            <p><strong>Category:</strong> {{ item.product.productCategory.category }}</p>
                            <p><strong>Price:</strong> {{ item.product.price }}</p>
                            <p><strong>Quantity:</strong> {{item.quantity}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
        <div class="col-md-5 col-lg-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your Cart Order Summary</span>
          </h4>
  
          <ul class="list-group mb-3">
            
            <li class="list-group-item d-flex justify-content-between">
              <span class="my-0">Items <span class="badge bg-primary rounded-pill">{{orderPayInfoDto.quantity}}</span> :</span>
              <span class="my-0">{{ orderPayInfoDto.price }}</span>
            </li>
  
            <li class="list-group-item d-flex justify-content-between">
              <span>Shipping & Handling : </span>
              <span>{{ shippingCost }}</span>
            </li>
  
            <li class="list-group-item d-flex justify-content-between">
              <span>Estimated tax : </span>
              <span>{{ tax }}</span>
            </li>
  
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD) :</span>
              <strong>{{ totalPrice }}</strong>
            </li>
          </ul>  
        </div>
      </div>
        <fieldset class="form-group">
          <legend class="col-form-label col-sm-2 pt-0"><strong>Shipping Address</strong></legend>
          <div class="my-3">
            <div *ngFor="let shippingAddress of shippingAddresses">
              <div *ngIf="shippingAddress.addressId!=0; else newAddress" class="form-check">
                <input type="radio" formControlName="addressId"
                [value]="shippingAddress.addressId" (click)="activeShippingAddress(shippingAddress.addressId)"
                [checked]="shippingAddress.addressId === selectedAddressId" class="form-check-input">
                <label class="form-check-label">
                   {{shippingAddress?.address1}},
                   {{shippingAddress?.address2}},
                   {{shippingAddress?.city}},
                   {{shippingAddress?.state}},
                   {{shippingAddress?.zipCode}},
                   {{shippingAddress?.country}}
                </label>
              </div>
              <ng-template #newAddress>
                <div class="form-check">
                <input type="radio" 
                [value]="shippingAddress.addressId" (click)="activeShippingAddress(shippingAddress.addressId)"
                [checked]="shippingAddress.addressId === selectedAddressId" class="form-check-input">
                <label class="form-check-label"><strong>New Address</strong></label>
              </div>
              </ng-template>
            </div>
            
            <div *ngIf="selectedAddressId === 0 ">
              <div class="row">
              <div class="form-group col-md-6">
                <label for="inputAddress">Address Street</label>
                <input type="text" formControlName="address1" class="form-control"
                 placeholder="1234 Main St">
              </div>

              <div class="form-group col-md-6">
                <label for="inputAddress2">Address 2</label>
                <input type="text" formControlName="address2"
                  class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div>
              </div>

              <div class="row">
                <div class="form-group col-md-4">
                  <label for="inputCity">City</label>
                  <input type="text" formControlName="city"
                    class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputCity">State</label>
                  <input type="text" formControlName="state"
                  class="form-control" id="state">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputZip">Zip</label>
                  <input type="text" formControlName="zipCode"
                  class="form-control" id="inputZip">
                </div>
              </div>
            </div>
          </div>

        </fieldset>
          <fieldset class="form-group" disabled>
            <legend class="col-form-label col-sm-2 pt-0">Payment</legend>
            <div class="my-3">
              <div *ngFor="let radiobutton of cardBrands">
                
                <input type="radio" formControlName="cardBrand" class="form-check-input" 
                [value]="radiobutton.val" (click)="activeRadio(radiobutton.val)"
                [checked]="radiobutton.val === selectedCardBrand" readonly>
                <label for="{{radiobutton.name}}" >
                  {{radiobutton.name}}</label>
              </div>
            </div>
          </fieldset>
        
    <button type="button"  (click)="createOrderPayment()"class=" row btn btn-primary btn-md m-2">Confirm</button>
  
    </div>
  
  </form>
