<div class="container">
  <div class="col-12">
    <h3>Final Details for Order {{orderId}}</h3>
  </div>

  <div class="row">
    <div class="col-6">
      <label>Paid By : {{paymentMethod[0].cardHolderName}}</label>
    </div>

    <label>Placed By : </label>
    <label>Order Placed : {{invoiceDetails.orderPlaced}}</label>
    <label>Order number : {{orderId}}</label>
    <label>Order Total : {{totalAmount}}</label>
  </div>
  <br>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h5 class="my-0 fw-semibold align-items-center">Shipped on {{invoiceDetails.orderNumber}}</h5>
      </div>
      <div class="card-body card card-outline-primary text-xs-center bg-light p-y-1">
        <div class="row">
          <div class="col-md-10">
            <h6 class="card-title pricing-card-title">Items Ordered</h6>
            <ul class="list-unstyled mt-3 mb-4" *ngFor="let orderItem of orderItems; let i=index">
              <li>{{i+1}}) {{orderItem.product.name}}, {{orderItem.product.description}}, Qty {{orderItem.quantity}}</li>
            </ul>
          </div>
          <div class="col-2">
            <h6 class="card-title pricing-card-title">Price</h6>
            <ul class="list-unstyled mt-3 mb-4" *ngFor="let orderItem of orderItems">
              <li>{{orderItem.price * orderItem.quantity}}</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <h6 class="card-title pricing-card-title">Shipping Address:</h6>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{shippingAddress.address.address1}}</li>
              <li>{{shippingAddress.address.city}}, {{shippingAddress.address.state}}</li>
              <li>{{shippingAddress.address.country}}</li>
            </ul>
          </div>
          <div class="col-3">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Item(s) Subtotal: </li>
              <li>Shipping & Handling: </li>
              <li>..................................................</li>
              <li>Total before tax:</li>
              <li>Sales Tax: </li>
              <li>..................................................</li>
              <li class="text-black">Total for this Shipment: </li>
            </ul>
          </div>
          <div class="col-2">
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{totalAmount}}</li>
              <li>0.00</li>
              <li>.................... </li>
              <li class="text-black">0.0</li>
              <li class="text-black">0.0</li>
              <li>.................... </li>
              <li class="text-black"> {{totalAmount}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 fw-semibold">Payment Information</h5>
      </div>
      <div class="card-body card card-outline-primary text-xs-center bg-light p-y-1">
        <div class="row">
          <div class="col-md-7">
            <h6 class="card-title pricing-card-title">Payment Method:</h6>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{paymentMethod[0].cardBrand}}</li>
              <li>{{paymentMethod[0].paymentStatus}}</li>
              <li>{{paymentMethod[0].cardHolderName}}</li>
            </ul>
          </div>
          <div class="col-3">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Item(s) Subtotal: </li>
              <li>Shipping & Handling: </li>
              <li>..................................................</li>
              <li>Total before tax:</li>
              <li>Estimated Tax: </li>
              <li>..................................................</li>
              <li class="text-black">Grand Total: </li>
            </ul>
          </div>
          <div class="col-2">
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{totalAmount}}</li>
              <li>0.00</li>
              <li>.................... </li>
              <li class="text-black">0.0</li>
              <li class="text-black">0.0</li>
              <li>.................... </li>
              <li class="text-black">{{totalAmount}} </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
