<div class="product">
    <div class="product-item">
        <div class="product-item__image">
            <img src="https://images.ctfassets.net/5gvckmvm9289/3BlDoZxSSjqAvv1jBJP7TH/65f9a95484117730ace42abf64e89572/Noissue-x-Creatsy-Tote-Bag-Mockup-Bundle-_4_-2.png" />
        </div>
        <div class="product-item__content">
        <h3 class="product-item__title">Crocs Unisex-Adult Classic Clogs</h3>
        <p class="product-item__description"></p>
        <div class="product-item__price">
            <span class="product-item__price--value">33.75</span>
            <span class="product-item__price--currency">$</span>
        </div>
        <div class="product-item__actions">
            <button class="product-item__actions--add-to-cart" (click)="onAddToCartClick(1)">
            <span class="product-item__actions--add-to-cart--text">Add to cart</span>
            </button>
        </div>
        </div>
    </div>
</div>
